
<div class="container page-margins">
<div class="page-heading"><i class="fa fa-star" style="color: #efa22f;"></i> {{heading}} <i class="fa fa-star" style="color: #efa22f;"></i></div>
<div class="row space-top">
    <div class="col-md-8" style="font-size: 16px;">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i>There is an intimate connection between the human mind and the moving spirit of the Universe.</i> <br>We are determined to provide quality education to our students through the most modern educational facilities to make them financially empowered whilst shaping them into self- confident citizens of a modern India. Our institution strives to inculcate discipline and character building along with serious pursuit of knowledge utilizing the most advanced teaching practices and high moral standards.</p>
            
    </div>
    <div class="col-md-4">
        <!-- <div id="cycler" style="display:inline-block;padding:5px;">
            <img src="images/cycle/1.jpg" height="300" width="400" style="border-radius:3px"/>
            <img src="images/cycle/2.jpg" height="300" width="400" style="border-radius:3px"/>
            <img src="images/cycle/3.jpg" height="300" width="400" style="border-radius:3px"/>
            <img src="images/cycle/4.jpg" height="300" width="400" style="border-radius:3px"/>
        </div> -->
    </div>
</div>
<div class="row">
        <div class="col-md-6 space-top" style="font-size: 16px;">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;MPS creates a milieu for its students to experience the thrill of continuous growth by acquiring the skill of learning how to learn. It creates an atmosphere of search and discovery, experimentation and self-expression. Our challenge is to bring out the best in all our children and we continue to strive towards that.</p>
        </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $('#cycler').cycle({
            fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
    });
    </script>