
<div class="container page-margins">
	<div class="page-heading"><i class="fa fa-star" style="color: #efa22f;"></i> {{heading}} <i class="fa fa-star" style="color: #efa22f;"></i></div>
	<div class="row space-top">
		<div class="col-md-6" style="font-size: 16px;">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;Mysore Public School is located on the periphery of the Garden City of Mysore in a sprawling campus of 20 acres of lush green land which is serene and scenic. Mysore is the Cultural Capital of Karnataka. It is also called the "City of Palaces" and maintains its royal grandeur.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;The campus has been given a face-lift while maintaining the Royal grandeur and oriental architectural style. The City of Mysore is well connected by rail and road to Bangalore and neighboring states. There are direct buses to Ootacamund, Calicut, Cochin, Trivandrum, Coimbatore, Salem etc.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;The school has created a welcoming environment by providing spacious infrastructure attractively landscaped. The infrastructure has been specially designed and planned out by us keeping in mind that our school should provide a holistic and simulating ambience to young minds where they can learn and imbibe new things each day. The academic facilities are designed to include a wide range of interactive books on different subjects from the international publishers along with CDs, also equipped with networked computers linked to an internet service. Reference reading and research section are an extended part of the library. Each class is equipped with display boards, writing boards, racks for students, custom made furniture as well.</p>
		</div>
		<div class="col-md-6 space-top">
			
		</div>
	</div>
</div>