
<style>
  .map {
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      height: 100%;
  }

  .header {
      background-color: #F5F5F5;
      color: #36A0FF;
      height: 70px;
      font-size: 27px;
      padding: 10px;
  }
</style>

<script type="text/javascript">
$(document).ready(function(){
  function init_map1() {
      var myLocation = new google.maps.LatLng(12.2434659, 76.6127622);
      var mapOptions = {
          center: myLocation,
          zoom: 16
      };
      var marker = new google.maps.Marker({
          position: myLocation,
          title: '<span style="background-color:red;font-bold:true;padding:2px;font-size:12px">Mysore Public School</span>'
      });
      var map = new google.maps.Map(document.getElementById("googleMap"),
          mapOptions);
      marker.setMap(map);
  }
  init_map1();
});
</script>
<div class="container page-margins" >
<div class="page-heading"><i class="fa fa-star" style="color: #efa22f;"></i> {{heading}} <i class="fa fa-star" style="color: #efa22f;"></i></div>
<div class="row space-top">
  <div class="col-md-6">
    <br>
    <br>
    <b>Mysore Public School</b><br>
    H.D. Kote Road, Rayankere Post<br>
    Mysuru - 571440,<br>
    Karnataka.<br>
    <br>
    <table class="table table-alternate">
      <tbody>
        <tr>
            <td><i class="fa fa-phone fa-lg" aria-hidden="true"></i></td>
            <td><strong>+918212597917, +918212597957</strong></td>
        </tr>
        <tr>
            <td><i class="fa fa-fax fa-lg" aria-hidden="true"></i></td>
            <td>+918212597934</td>
        </tr>
        <tr>
            <td><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></td>
            <td><a href="mailto:mps_mysore@yahoo.co.in">mps_mysore@yahoo.co.in</a></td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></td>
          <td><a href="mailto:info@mysorepublicschool.in">info@mysorepublicschool.in</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 well space-top ">
    <div class="row">
      <div class="col-md-12">
        <div style="width:100%;height:340px;border:1px solid #CCC;padding:5px">
          <div id="googleMap" class="map"></div>
        </div>
      </div>
  </div>
  </div>
</div>
<div class="row space-top"></div>

</div>


