<div class="container page-margins">
    <div class="page-heading"><i class="fa fa-star" style="color: #efa22f;"></i> {{heading}} <i class="fa fa-star" style="color: #efa22f;"></i></div>
    <div class="row space-top">
		<div class="col-md-6" style="font-size: 16px;">
            <ul>
                <li>The teacher student ratio is 1:20</li>
                <li>Playground, Basket ball courts, Volleyball courts, Tennis Courts, Cricket pitch, separate qualified P.T instructors for boys and girls</li>
                <li>Open air stage</li>
                <li>Diesel generator for uninterrupted power supply</li>
                <li>Well equipped computer, physics, chemistry and biology laboratories</li>
                <li>Well stocked library with the service of a trained librarian. Access to prominent news papers and perioducals in various languages</li>
                <li>Infirmary with bed facility. Full time trained nurse and a doctor on call for emergencies</li>
                <li>Tie up with Bhanvi hospital and Queen Mary hospital for consultation with specialist, if necessary</li>
            </ul>
			
		</div>
		<div class="col-md-6 space-top">
			<img src="images/facilities1.jpg" alt="facilities">
		</div>
	</div>
</div>